# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [2]:
# Do all imports and installs here
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *
%load_ext sql
%sql postgresql://student:student@127.0.0.1/studentdb
pd.options.mode.chained_assignment = None

In [3]:
conn = psycopg2.connect("host=127.0.0.1 dbname=studentdb user=student password=student")
cur = conn.cursor()

In [19]:
# %sql select current_database();

In [20]:
# %sql SELECT * FROM   information_schema.tables WHERE  table_name = 'demograph'

In [37]:
# %sql select * from city_info limit 5

In [22]:
# %sql select * from demograph

### Step 1: Scope 

#### Scope 

Our plan is to create a schema for the US Government for storing all the demographic details for 50 States. Since, the number for immigrants as well as citizens is evergrowing exponentially, we have to consider factors like future size of the data, accessibility with 100+ concurrent users and the pipeline to be ran daily in the morning.

#### Describe and Gather Data 
We have US cities demographic data from 50 states and their cities comprising of  of male, females, veterans population along with race and avg household size etc.

In [4]:
# Read in the data here
data = pd.read_csv('Data/us-cities-demographics.csv',sep=';')
data.head(10)

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402
5,Peoria,Illinois,33.1,56229.0,62432.0,118661,6634.0,7517.0,2.40,IL,American Indian and Alaska Native,1343
6,Avondale,Arizona,29.1,38712.0,41971.0,80683,4815.0,8355.0,3.18,AZ,Black or African-American,11592
7,West Covina,California,39.8,51629.0,56860.0,108489,3800.0,37038.0,3.56,CA,Asian,32716
8,O'Fallon,Missouri,36.0,41762.0,43270.0,85032,5783.0,3269.0,2.77,MO,Hispanic or Latino,2583
9,High Point,North Carolina,35.5,51751.0,58077.0,109828,5204.0,16315.0,2.65,NC,Asian,11060

In [24]:
	
# from pyspark.sql import SparkSession
# spark = SparkSession.builder.\
# config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
# .enableHiveSupport().getOrCreate()
# df_spark =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

In [25]:
# #write to parquet
# df_spark.write.parquet("sas_data")
# df_spark=spark.read.parquet("sas_data")

## Step 2: Explore and Assess the Data

### Data Exploration & Quality check For City_info

In [5]:
# Let's create a dataframe for City_info

city_info=data[['City','State Code','State']]
city_info.head(10)

               City State Code           State
0     Silver Spring         MD        Maryland
1            Quincy         MA   Massachusetts
2            Hoover         AL         Alabama
3  Rancho Cucamonga         CA      California
4            Newark         NJ      New Jersey
5            Peoria         IL        Illinois
6          Avondale         AZ         Arizona
7       West Covina         CA      California
8          O'Fallon         MO        Missouri
9        High Point         NC  North Carolina

In [6]:
city_info.count()

City          2891
State Code    2891
State         2891
dtype: int64

In [14]:
city_info.isna().sum()

# Looks like there are no Nulls

City          0
State Code    0
State         0
dtype: int64

In [15]:
city_info.describe()

# Here we can see there are only 49 states and 567 Unique Cities, but the data is repetitive

               City State Code       State
count          2891       2891        2891
unique          567         49          49
top     Springfield         CA  California
freq             15        676         676

In [34]:
# hence we will drop all the duplicates()

city_info = city_info.drop_duplicates()

In [17]:
# Previous count was 2891 across 3 columns

city_info.count()

City          596
State Code    596
State         596
dtype: int64

In [19]:
# Let's rename the column wherever required

city_info.rename(columns={'State Code':'State_Code'}, 
                 inplace=True)
city_info.head(10)

               City State_Code           State
0     Silver Spring         MD        Maryland
1            Quincy         MA   Massachusetts
2            Hoover         AL         Alabama
3  Rancho Cucamonga         CA      California
4            Newark         NJ      New Jersey
5            Peoria         IL        Illinois
6          Avondale         AZ         Arizona
7       West Covina         CA      California
8          O'Fallon         MO        Missouri
9        High Point         NC  North Carolina

### Data Exploration & Quality check For Demograph

In [24]:
# Let's create a dataframe for Demograph

demograph = data[['City','Male Population','Female Population','Total Population','Number of Veterans','Foreign-born','Average Household Size','Race','Count']]
demograph.head(10)

,City,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,Race,Count
0,Silver Spring,40601.0,41862.0,82463,1562.0,30908.0,2.60,Hispanic or Latino,25924
1,Quincy,44129.0,49500.0,93629,4147.0,32935.0,2.39,White,58723
2,Hoover,38040.0,46799.0,84839,4819.0,8229.0,2.58,Asian,4759
3,Rancho Cucamonga,88127.0,87105.0,175232,5821.0,33878.0,3.18,Black or African-American,24437
4,Newark,138040.0,143873.0,281913,5829.0,86253.0,2.73,White,76402
5,Peoria,56229.0,62432.0,118661,6634.0,7517.0,2.40,American Indian and Alaska Native,1343
6,Avondale,38712.0,41971.0,80683,4815.0,8355.0,3.18,Black or African-American,11592
7,West Covina,51629.0,56860.0,108489,3800.0,37038.0,3.56,Asian,32716
8,O'Fallon,41762.0,43270.0,85032,5783.0,3269.0,2.77,Hispanic or Latino,2583
9,High Point,51751.0,58077.0,109828,5204.0,16315.0,2.65,Asian,11060

In [27]:
demograph.isna().sum()

# looks like there are some nulls amongst few colums

City                       0
Male Population            3
Female Population          3
Total Population           0
Number of Veterans        13
Foreign-born              13
Average Household Size    16
Race                       0
Count                      0
dtype: int64

In [31]:
# Filling all the nulls with 0

demograph = demograph.fillna(0)
demograph.head(5)

,City,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,Race,Count
0,Silver Spring,40601.0,41862.0,82463,1562.0,30908.0,2.60,Hispanic or Latino,25924
1,Quincy,44129.0,49500.0,93629,4147.0,32935.0,2.39,White,58723
2,Hoover,38040.0,46799.0,84839,4819.0,8229.0,2.58,Asian,4759
3,Rancho Cucamonga,88127.0,87105.0,175232,5821.0,33878.0,3.18,Black or African-American,24437
4,Newark,138040.0,143873.0,281913,5829.0,86253.0,2.73,White,76402

In [32]:
demograph.isna().sum()

# No more nulls

City                      0
Male Population           0
Female Population         0
Total Population          0
Number of Veterans        0
Foreign-born              0
Average Household Size    0
Race                      0
Count                     0
dtype: int64

In [33]:
# Let's rename the columns wherever required

demograph.rename(columns={'Male Population':'Male_Population','Female Population':'Female_Population','Total Population':'Total_Population','Number of Veterans':'Number_of_Veterans','Foreign-born':'Foreign_born','Average Household Size':'Average_Household_Size'}, 
                 inplace=True)
demograph.head(5)

,City,Male_Population,Female_Population,Total_Population,Number_of_Veterans,Foreign_born,Average_Household_Size,Race,Count
0,Silver Spring,40601.0,41862.0,82463,1562.0,30908.0,2.60,Hispanic or Latino,25924
1,Quincy,44129.0,49500.0,93629,4147.0,32935.0,2.39,White,58723
2,Hoover,38040.0,46799.0,84839,4819.0,8229.0,2.58,Asian,4759
3,Rancho Cucamonga,88127.0,87105.0,175232,5821.0,33878.0,3.18,Black or African-American,24437
4,Newark,138040.0,143873.0,281913,5829.0,86253.0,2.73,White,76402

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model

Since the data for Cities, States and State codes won't be changing often, we will create a dimension table for them as City_info.dim table.

Rest of the facts for City & States will be stored in the Demograph.fact table.

We will use Star schema to support for increase in use of

### Fact Table <br>
 demograph.fact <br>
 - id,  
 - city, 
 - male_population, 
 - female_population,
 - total_population,
 - no_of_veterans,
 - foreign_born,
 - avg_household_size,
 - race,
 - count

### Dimension Tables <br>
city_info.dim
- city,
- state_code,
- states

#### 3.2 Mapping Out Data Pipelines

- Joining the fact table with dim table using City

Fact Table <br>
- Demograph.fact
  - Since a single city can have multiple race demographic data, it cannot be an unique key for the fact table.
  - Hence, Id is created using serial function as a primary key for the fact table.
 
Dimension Table <br>
 - City_info <br>
    - City here is the primary key for the dim table

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [39]:
# inserting data into user_info
for i, row in city_info.iterrows():
        city1 = (row.City,row.State_Code,row.State)#.encode('utf-8') 

        try:
            cur.execute(city_table_insert,city1)
        except:
           # print(city1)
            continue 
    
conn.commit()
cur2 = conn.cursor()

In [35]:
# inserting data into  demograph
for i, row in demograph.iterrows():
        demograph1 = (row.City,row.Male_Population,row.Female_Population,row.Total_Population,row.Number_of_Veterans,row.Foreign_born,row.Average_Household_Size,row.Race,row.Count)
        try:
            cur2.execute(demograph_table_insert, demograph1)
        except Exception as e:
            continue
conn.commit()

#### 4.2 Data Quality Checks¶

- Completed Above in STEP 2!

- For the fact table, since being a primary key,  we will be using *On Conflict* method in create_tables.py file to avoid any conflicts.

#### Step 5: Complete Project Write Up

- We have data of different demographics down to the city level. Data includes male,female population along with different races and avg size of families.
- Since there are so many immigrants that enter the USA, we will created a schema to support if the data increase exponentially. 
- The data can be access by 100+ people due to the structure of the schema. And the table are designed to support increasing data.
- The more people accessing the database the more cpu resources you need to get a fast experience. By using a distributed database you can to improve your replications and partitioning to get faster query results for each user.

### What if?
- The data was increased by 100x.
- The data populates a dashboard that must be updated on a daily basis by 7am every day.
- The database needed to be accessed by 100+ people

    - If the data was to increase by 100x, use of Spark would be apt to support quick response from the postgres database.
    - We can use Airflow to automate the process every morning at 7 by creating Dags.
    - Postgres already supports ACID properties and wouldn't create any issue with concurrent users.

#### Purpose of the Final Data Model
##### What will the data be used for? Who will use it?

- Data Model would be used by different officers in the US Immigration office to check based the activities of various races amongst different demographs in various cities and states.
- By Using Postgres, Multiple officers within states at different office can access the data at the same time without affecting the data.